body {
	background-color: #F23C0A;
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
}

h1 {
	color: #A5A3B1;
	text-align: center;
	font-size: 48px;
}